<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="runWebServerMenuItem" value="true" />
    <add key="listenerIp" value="127.0.0.1" />
    <add key="listenerPort" value="8085" />
    <add key="authWebServerMenuItem" value="false" />
    <add key="startMinMenuItem" value="true" />
    <add key="minTrayMenuItem" value="true" />
    <add key="minCloseMenuItem" value="true" />
    <add key="cpuMenuItem" value="true" />
    <add key="gpuMenuItem" value="true" />
    <add key="mainboardMenuItem" value="true" />
    <add key="ramMenuItem" value="true" />
    <add key="hddMenuItem" value="true" />
    <add key="nicMenuItem" value="false" />
    <add key="fanControllerMenuItem" value="true" />
    <add key="psuMenuItem" value="false" />
    <add key="batteryMenuItem" value="false" />
    <add key="powerMonitorMenuItem" value="false" />
    <add key="updateInterval1sMenuItem" value="true" />
  </appSettings>
</configuration>
